/* css file here */

/* universal style */
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
 
}
/* navbar style */
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 20px 10px;
  
}


.header-middle {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
}
.location-left p,
.location-right span {
  font-weight: 700;
}

.header-right input {
  border: none;
  padding-left: 5px;
  padding: 10px;
}
.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn button {
  padding: 14px 24px;
  border: none;
  border-radius: 8px;
  background-color: white;
  box-shadow: 3px 3px 10px 2px #fdca1c;
}
/* banner style */
.banner{
    
    background-color: #fdca1c;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-left h1{
    font-size: 4rem;
    font-weight: 700;
    color: white;
}
.banner-left p{
    font-size: 1rem;
    font-weight: 500;
}
.banner-box{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0px;
    box-shadow: 3px 3px 20px rgb(162, 145, 59);
}
.banner-btn{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}
.banner-btn button{
    border: none;
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
}
.banner-btn button span{
   color: #F17228;
   
}
.banner-input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.banner-input input{
    width: 70%;
    margin: 20px 0px;
    padding: 10px 10px;
    border: none;
    background-color: rgba(128, 128, 128, 0.122);
    border-radius: 8px;
}
.b-btn button{
    background: linear-gradient(#FF7A7A, #F65900);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}
/* badge section style */
.badge{
    background: linear-gradient(#ffcf674c,#FDEDCA);
    max-height: 600px;
    padding: 3rem;
    
}
.title{
    color: #F17228;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 20px;
}
.badge-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.card img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.card h3{
    font-size: 1.4rem;
    text-align: center;
}
.card p{
    font-size: 1rem;
    text-align: center;
    color: gray;
}



